* {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.menu_wrap .dep1 {
    font-size: 0;
}

.menu_wrap .dep1>li {
    display: inline-block;
    width: 100px;
    vertical-align: top;
    background-color: #ddd;
    text-align: center;
    font-size: 16px;
}

.menu_wrap .dep1>li:hover>a {
    background-color: purple;
    color: white;
}

.menu_wrap .dep1>li>a {
    display: block;
    padding: 10px 0;
}

.menu_wrap .dep1>li:hover>.dep2 {
    display: block;
}

.menu_wrap .dep2 {
    display: none;
    background-color: pink;
}

.menu_wrap .dep2 a {
    padding: 10px 0;
    display: block;
}

.menu_wrap .dep2 a:hover {
    text-decoration: underline;
}